Repository CodethinkLabs/bloodlight-firmware, pull requests merged in 2020-11, with the labels that each got.

#80 Tlsa/bloodview transmissive
  bloodview/config/rev1-default.yaml
  bloodview/config/rev2-default.yaml
  bloodview/resources/main-menu.yaml
  bloodview/src/device.c
  bloodview/src/main-menu.c
  bloodview/src/main-menu.h
Labels: comms, control, data science, enhancement, front end, host

#81 Fix PD3 so it works despite OPAMP issue
  firmware/src/acq/source.c
Labels: bug, firmware

#85 bloodview: device: Only send LED msg for reflective/continuous.
  bloodview/src/device.c
Labels: bug, cleanup, comms, control, enhancement, front end, host

#93 Disable status LED during acquisition
  firmware/src/acq.c
Labels: data science, enhancement, firmware, revision 2

#94 Tlsa/rev2 config
  host/Makefile
  host/bloodview/config/rev2-default.yaml
Labels: cleanup, data science, enhancement, front end, host

#95 Tlsa/calibrate
  host/bloodview/src/data-cal.c
Labels: cleanup, data science, enhancement, front end, host

#96 Add source capability message handler in firmware
  common/msg.h
  firmware/src/acq.c
  firmware/src/acq.h
  firmware/src/msg.c
  firmware/src/msg.h
  firmware/src/usb.c
Labels: comms, enhancement, firmware

#97 Tlsa/calibrate
  firmware/src/acq.c
  host/bloodview/src/main-menu.c
  host/bloodview/src/main-menu.h
  host/common/msg.c
  host/tools/bl.c
Labels: comms, control, enhancement, firmware, front end, host
